<h1> Cards</h1>
<form method="POST" action="/cards">
  <label for="name">Card Name</label>
  <input type="text" name="name" />
  <label for="balance">Balance</label>
  <input type="number" name="balance" />
  <input type="submit" value="Add Card" />
</form>
<ul>

{{#each cards}}
    <li><a href='/cards/{{_id}}'> {{ name }} </a><br>
    Balance: ${{ balance }}<br>
    Card Id: {{ _id }} 
    </li>
    <br>
{{/each}}
</ul>